body{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 25px solid black;
    background-color:#7777;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}
nav{
    /* float: right;
    color: #777777;
    word-spacing: 1em;
    margin: 20px auto; */
    width:100%;
    height: 50px;
    background-color: #4aaaa5;
}
.navbar-nav {
    background-color: #4aaaa5;
    width: 200px;
    position: relative;
    z-index: 2;
}
.form-control{
    z-index: 2;
}
.bg-light {
    background-color:#4aaaa5!important;
}
.btn{
    background-color: #777777;
}
.btn-outline-success{
    color: #4aaaa5;
}
a:link{
    text-decoration: none;
    color: #777777;
}
#contactText{
    color: #4aaaa5;
}
header{
    background-color: #4aaaa5;
    border-color: #cccccc;
    width: 175px;
    height: 70px;
    text-align:center;
    float: left;
    margin: 0 auto;
    margin-left: 195px;
}
.form-body{
    clear: both;
    background-color:transparent;
    height: 650px;
    width: auto;
    padding-top: 30px;

}
section{
    background-color: white;
    width: 750px;
    padding: 20px 20px;
    margin: auto;
}
img{
float:left;
margin: 5px 10px;
margin-right: 20px;
}
p{
    line-height: 1.8;
}
input{
    margin-right: 15px;
}
textarea{
    margin-left: 15px;
}
footer{
    font-size: 10px;
    text-align: center;
    background-color: #666666;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top:8px solid #4aaaa5;
    position: fixed;
    width: 100%;
    bottom:0;
}
#submit_button{
    background-color: #4aaaa5;
    color: white;
}